<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cydia Lookup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel='stylesheet prefetch' href='https://unpkg.com/material-components-web@latest/dist/material-components-web.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/package.css">
    <link rel="stylesheet" href="/stylesheets/package-loader.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body style="text-align: center; font-family: 'Comfortaa' !important;">

    <div id="header">
        <h1 class="name">Cydia Lookup</h1>
    </div>

    <div class="centered-content info">
        <% if (!packageInfo) { %>
            <h1 style="color: #c62f36 !important;">This package does not exist.</h1>
        <% } else {%>
            <div class="tg-wrap info"><table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Display Name</td>
                    <td><%= packageInfo.display %></td>
                </tr>
                <tr>
                    <td>Package ID</td>
                    <td id="packageid"><%= packageInfo.name %></td>
                </tr>
                <tr>
                    <td>Section</td>
                    <td><%= packageInfo.section %></td>
                </tr>
                <tr>
                    <td>Summary</td>
                    <td><%= packageInfo.summary %></td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td><%= packageInfo.version %></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>$<%= packageInfo.price ? packageInfo.price : "Free" %></td>
                </tr>
                <tr>
                    <td>Repository</td>
                    <td><a p href="<%= packageInfo.repo.link %>" ><%= packageInfo.repo.name %></a></td>
                </tr>
                <tr>
                    <td>Download Link</td>
                    <td>
                        <div id="spinner" class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                        <a id="download-url" href="<%= packageInfo.repo.link %>" ></a>
                    </td>
                </tr>
            </table></div>

        <% } %>
    </div>
    <footer>
        <button id="goBack" onclick="location.href='/'" class="mdc-button mdc-button--raised">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
            </svg>
            go back
        </button>
        <button id="about" onclick="location.href='/about'" class="mdc-button mdc-button--raised">about</button>
        <p hidden id="cookie-info">we use cookies to ensure you get the best experience
            <a id="cookie-consent" href="#">i understand</a>
        </p>
        <p>made with
            <a id="heart">❤</a> in stockholm by oliver</p>
    </footer>
    <script src="/javascripts/package.js"></script>
</body>

</html>